body {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: 100% 200px;
}
.header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 60px;
    color: darkblue;
}
.link{
    color: white;
}
.Ariska{
    color: red;
}
.mark{
    text-decoration: none;
    font-weight: bold;
}
.mark:hover {
    text-decoration: none;
}
.right{
    text-align: right; 
}
.center{
    text-align: center;
}
.paragraf1{
    color: orange;
    text-align: center;
}